@import 'variables';
@import 'utilities';
@import 'section';

body{
    background: $primary-color;
    color: white;
    font-family: $main-font;
    font-size:12px;
    width:100vw;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a{
    text-decoration:none;
    color:white;
}

li{
    list-style: none;
}


.section{
    width:100%;
    @include SECTIONBG;
    
    .logo{
        width:125px;
    }

    img{
        width:100%;
    }
    &-intro{
        text-align:center;
    }
}


.social-media{
    ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        @include ALIGNCENTER;
        @media (min-width:766px){
            @include ALIGNRIGHT;
        }
       li{
           height: 30px;
           width:30px;
           border-radius: 50%;
           border: 1px solid white;
           display:flex;
           justify-content: center;
           align-items: center;
       }
    }
    
    i{
        font-size:1rem;
     
       
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color:white; } 

